<div class="mt-4">
    <h3>Dang khoa hoc</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name" class="form-label">ten</label>
            <input type="text" class="form-control" value="{{course.name}}"  id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Mo ta</label>
            <textarea class="form-control"  id="description" name="description"> {{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="description" class="form-label">image</label>
            <input type="text" class="form-control"  value="{{course.image}}" id="image" name="image">
        </div>


        <button type="submit" class="btn btn-primary">them khoa</button>
    </form>
</div>